<% if article.errors.any? %>
  <div class="alert alert-warning alert-bordered">
    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
  
      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for([naturesoft_articles, :admin, article], html: {class: "form-horizontal validate", multipart: true}) do |f| %>

    <div class="form-group">
      <label class="col-md-2 control-label" ><%= t(:image) %> <span class='text-danger'>*</span></label>
      <div class="media no-margin-top col-md-10">
        <div class="media-left">
          <%= image_tag(image_src(article.image_url.system), class: "",  "preview-for": "article[image_url]") %>
        </div>
  
        <div class="media-body">
          <input type="file" name="article[image_url]" class="file-styled previewable">
          <span class="help-block">Accepted formats: gif, png, jpg.</span>
        </div>
      </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-2 control-label" ><%= t(:title) %> <span class='text-danger'>*</span></label>
        <div class="col-md-10">
            <%= f.text_field :title, class: "form-control required" %>
        </div>
    </div>
        
    <div class="form-group field">
        <label class="col-md-2 control-label" ><%= t(:category) %> <span class='text-danger'>*</span></label>
        <div class="col-md-10">
          <div class="input-group">
            <% selected = options_for_select((article.categories.map {|c| [c.name, c.id]}),article.categories.map(&:id)) %>
            <%= select_tag("category_ids[]",
              selected,
              {
                class: "select2-ajax required",
                include_blank: "none",
                multiple: "multiple",
                "data-url": select2_admin_categories_path,
              }
            ) %>
            <span class="input-group-btn">
              <a class="btn btn-info" href="<%= naturesoft_articles.new_admin_category_path %>"><i class="icon-plus2"></i></a>
            </span>
          </div>
        </div>
    </div>
        
    <div class="form-group">
        <label class="col-md-2 control-label" ><%= t(:content) %> <span class='text-danger'>*</span></label>
    </div>
    
    <div class="form-group">
        <div class="col-md-12">
            <%= f.text_area :content, rows: "4", cols: "4", class: "editor" %>
        </div>
    </div>

    <div class="text-right">
        <%= button_tag "#{t(:save)} <i class=\"icon-plus22 position-right\"></i>".html_safe, class: "btn btn-primary"%>
    </div>
    
<% end %>