<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><span class="text-semibold">Articles</span></h4>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><%= link_to '<i class="icon-home2 position-left"></i> Home'.html_safe, naturesoft.admin_dashboard_path %></li>
            <li><%= link_to 'Article', naturesoft.admin_articles_path %></li>
            <li class="active">Articles</li>
        </ul>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
    
    <!-- Basic datatable -->
    <div class="panel panel-flat listing-form">
        <div class="panel-heading col-md-12">
            <h5 class="panel-title col-md-6"><span class="text-semibold"><%= t(:listing_articles) %></span></h5>
            <%= link_to "New Article", naturesoft.new_admin_article_path, class: 'btn btn-primary pull-right' %>
        </div>
        
        <form class="listing-form" data-url="">				
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr class="bg-teal-800">
                            <th>Image</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Created At</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @articles.each do |item| %>
                            <tr>
                                <td><%= link_to image_tag(item.image_url, size: "180x110", class: "img-rouded"), naturesoft.edit_admin_article_path(item) %></td>
                                <td><%= item.title %></td>
                                <td><%= truncate(strip_tags(item.content.html_safe), length: 150) %></td>
                                <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
            
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, naturesoft.edit_admin_article_path(item) %>
                                                </li>
                                                <li>
                                                    <%= link_to '<i class="icon-cross2"></i> Delete'.html_safe, "#delete_article", url: naturesoft.admin_article_path(item) , class: "backend_delete_item" %>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <div class="dataTables_wrapper no-footer">
                    <div class="datatable-footer showed">
                        <div class="dataTables_info" ><%= page_entries_info @articles %></div>
                        <div class="dataTables_paginate paging_simple_numbers">
                            <%= will_paginate @articles, previous_label: '←', next_label: '→', renderer: BootstrapPagination::Rails %>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /basic datatable -->
    
    <!-- Footer -->
    <%= render 'admin/modules/footer' %>
    <!-- /footer -->
    
</div>

<!-- /content area -->

<!-- Theme JS files -->
<%= javascript_include_tag '/backend/js/listing.js' %>
<!-- /theme JS files -->