<% title t(:categories) %>

<!-- Basic datatable -->
<div class="panel panel-flat listing-form">
    <div class="panel-heading col-md-12">
        <h5 class="panel-title col-md-6"><span class="text-semibold"><%= t(:categories) %></span></h5>
        <%= link_to t(:new_category), naturesoft_articles.new_admin_category_path, class: 'btn btn-primary pull-right' %>
    </div>
    
    <form class="listing-form" data-url="">				
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr class="bg-teal-800">
                        <th><%= t(:title) %></th>
                        <th><%= t(:description) %></th>
                        <th><%= t(:created_at) %></th>
                        <th class="text-center"><%= t(:actions) %></th>
                    </tr>
                </thead>
                <tbody>
                    <% @categories.each do |item| %>
                    <% if item.parent.count == 0 %>
                        <% item.update_level(1) %>
                        <tr>
                            <td class="kq_search">
								<strong><%= link_to item.name, naturesoft_articles.edit_admin_category_path(item) %></strong>
							</td>
                            <td class="kq_search"><%= truncate(strip_tags(item.description), length: 150) %></td>
                            <td><%= item.created_at.strftime("%d/%m/%Y") %></td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <ul class="icons-list">
                                        <%= link_to '<i class="icon-pencil"></i>'.html_safe, naturesoft_articles.edit_admin_category_path(item), class: "btn bg-teal btn-icon btn-xs" %>
                                        <button type="button" class="btn bg-teal dropdown-toggle btn-xs" data-toggle="dropdown"><span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <% if item.status == "active" %>
                                            <li>
                                                <%= link_to '<i class="icon-lock4"></i> '.html_safe + t(:inactive), naturesoft_articles.disable_admin_categories_path(id: item.id), method: :put %>
                                            </li>
                                            <% else %>
                                            <li>
                                                <%= link_to '<i class="icon-unlocked"></i> '.html_safe + t(:active), naturesoft_articles.enable_admin_categories_path(id: item.id), method: :put %>
                                            </li>
                                            <% end %>
                                            <li>
                                                <%= link_to '<i class="icon-cross2"></i> '.html_safe + t(:delete), naturesoft_articles.admin_category_path(item), method: :delete, data: {confirm: 'Are you sure?'} %>
                                            </li>
                                        </ul>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <% item.children.each do |child_1| %>
                            <% child_1.update_level(2) %>
                            <tr>
                                <td><strong>--- <%= link_to child_1.name, naturesoft_articles.edit_admin_category_path(child_1) %></strong></td>
                                <td><%= truncate(strip_tags(child_1.description), length: 150) %></td>
                                <td><%= child_1.created_at.strftime("%d/%m/%Y") %></td>
                                <td class="text-center">
                                    <ul class="icons-list">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="icon-menu9"></i>
                                            </a>
            
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <%= link_to '<i class="glyphicon glyphicon-edit"></i> '.html_safe + t(:edit), naturesoft_articles.edit_admin_category_path(child_1) %>
                                                </li>
                                                <li>
                                                    <%= link_to '<i class="icon-cross2"></i> '.html_safe + t(:delete), naturesoft_articles.admin_category_path(child_1), method: :delete, data: {confirm: 'Are you sure?'} %>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <% child_1.children.each do |child_2| %>
								<% child_2.update_level(3) %>
                                <tr>
                                    <td><strong>--------- <%= link_to child_2.name, naturesoft_articles.edit_admin_category_path(child_2) %></strong></td>
                                    <td><%= truncate(strip_tags(child_2.description), length: 150) %></td>
                                    <td><%= child_2.created_at.strftime("%d/%m/%Y") %></td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <%= link_to '<i class="glyphicon glyphicon-edit"></i> '.html_safe + t(:edit), naturesoft_articles.edit_admin_category_path(child_2) %>
                                                    </li>
                                                    <li>
                                                        <%= link_to '<i class="icon-cross2"></i> '.html_safe + t(:delete), naturesoft_articles.admin_category_path(child_2), method: :delete, data: {confirm: 'Are you sure?'} %>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </form>
</div>
<!-- /basic datatable -->